body {
    width: 100%;
    height: 500vh;
    overflow-x: hidden;
    background: url(https://images.unsplash.com/photo-1773176647951-d8f618dee942?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center fixed;
    background-size: cover;
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.3fr 1.5fr;
    grid-template-rows: 70px;

    /* background-color: black; */
    background: rgba(255, 255, 255, 0.2);

    color: white;
    font-size: 16px;
    border-radius: 100px;
    text-align: center;
    place-items: center;
    width: 50%;

    position: fixed;
    z-index: 1000;
    bottom: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    transition: opacity 0.4s ease;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.navdiv1 {
    grid-area: 1 / 1 / 2 / 2;
}

.navdiv2 {
    grid-area: 1 / 2 / 2 / 3;
}

.navdiv3 {
    grid-area: 1 / 3 / 2 / 4;
}

.navdiv4 {
    grid-area: 1 / 4 / 2 / 5;
}

.navdiv5 {
    grid-area: 1 / 5 / 2 / 6;
}

.navdiv6 {
    grid-area: 1 / 6 / 2 / 7;
}

.navdiv7 {
    grid-area: 1 / 7 / 2 / 8;
}


button {
    border-radius: 100px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #97a0a6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 170px;
    border: none;
}

button:hover {
    background-image: linear-gradient(to bottom, #e86c1e, #ea5e17, #ec4d12, #ee3811, #f01212);
    text-decoration: none;
}